@charset "UTF-8";
/* CSS Document */

#container {
	position: absolute;
	width: 300px;
	height: 250px;
	border:solid;
	border-color:#58585a;
	border-width:1px;
	overflow:hidden;
	background-color: #e1e1e1;
	display: none;
	z-index:0;
	cursor:pointer;
}

body{
	margin: 0px;
}

#wire {
position: absolute;	
left: 135px;
top: 1px;
}


.position {
position: absolute;
left:0px;

}

.hide {
position: absolute;
	opacity: 0;
	left:0px;
}

#black_headphone_1 {
left:135px;
}

#black_headphone_blur_left {
	left:-68px;
}


#whileless_holder {

}

#white_headphone {
	position: absolute;
	left:-300px;
}
#bestbuy_logo, #black_headphone_1,#black_headphone_blur_left,#black_headphone_blur_right,#black_headphone_left,#everest_text,#for_music_text,#headphone_text,#intro_text,#jbl_everest_logo,#learnMore,#white_headphone{
	top: -20px;
}
#wireless_text_1,#wireless_text_2,#wireless_text_3,#wireless_text_4,#wireless_text_5,#wireless_text_6,#wireless_text_7,#wireless_text_8,#wireless_text_9,#wireless_text_10,#wireless_text_11,#wireless_text_12{
	top: -20px;
}